.styleAppBar{
    text-align:'right';
    background-color:#55acd3
}
.divAppBar{
    margin-top: 10px;
}
.imageModifier{
    width:30px
}
.formStyle{
    background: url("/assets/images/medicalPhotos/examenMedical.jpg") no-repeat;
    background-size: 100%;
}
.contentLeSaviezVousDetails{
    margin-top: 0px;
}
.imagePerson{

    max-width: 200px;
    border-radius: 50%;
    margin-top: 20px;

}
.divContent{
    margin-top: 15px;
   
}
.labelContent{
    margin-top: 15px;
    color:teal;
}
.descriptionContent{
    text-align: justify;
  
}
