.styleAppBar{
    text-align:'right';
    background-color:#55acd3
}
.divAppBar{
    margin-top: 10px;
}
.imageModifier{
    width:30px
}
.formStyle{
    background: url("/assets/images/medicalPhotos/examenMedical.jpg") no-repeat;
    background-size: 100%;
}
.contentLeSaviezVousDetails{
    margin-top: 0px;
}
.imageLeSaviezVous{

    max-width: 300px;
    border-radius: 50%;
    margin-top: 20px;

}
.categorieContent{
    margin-left: 3px;
    margin-right: 20px;
    
}
.descriptionContent{
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 30px;
}
.descriptionContent1{
    text-align: justify;
    margin-top: 17px;
 
}
h4{
    color:teal;
}
